
header {
  background-color: #191919;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}


.head-shot #headshot {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.header-text {
  display: inline-block;
  color: red;
  margin-left: 100px;
}