
/* NAV STYLING
------------------------------------------------------------ */
/* Version navigation display -> 100% stretchable  */
#nav {
  display:table;
  width: 100%;
  height:20px;
  padding:0;
  margin: 0;
}

#nav li {
  display: table-cell;
  height: 20px;
  width: 50%; /* (100/number of items)% */
  line-height: 30px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 20px;
  /* white-space: nowrap; */
}


/*  HEADER STYLING 
-------------------------------------------------------------*/
/* main header that stretches across the whole page */
.header {
  background-color: #191919;
}

/* header div that holds the header text and header image */
#header-padding{
  text-align: justify;
  margin: 0px auto;
  overflow: hidden;
  padding:30px;
}

/* header text styling */
#header-text p{
  color: rgb(255,255,255);
  font-family: "Lato";
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
}

/* TABLE STYLING
----------------------------------------------------------------------- */
/* change the default td styling that comes with skeleton.css */
td {
  font-family: "Lato";
  font-weight: 300;
}


.tposts {
  font-weight: 400;
}

/* FOOTER STYLING
------------------------------------------------------------------------ */
.footer p{
  font-weight: 300;
  font-size: 10px;
  color:#afaeae;
}

/* sticky footer -> http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
html, body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  height: auto; !important
  height: 100%;
  margin: 0 auto -20px;
  font-size:20px;

}

.footer, .push {
  height: 20px;
}

/* HYPERLINKS STYLING
-------------------------------------------------------------------- */
/* unvisited link */
a:link{
  text-decoration: none;
  color: #56c4e2;
}

a:visited{
  color: #56c4e2;
}

/* RESPONSIVE QUERIES
------------------------------------------------------------------------------ */

/* Larger than mobile */
@media (min-width: 350px) {
  
  #headshot{
  width: 120px ;
  height: 120px;
  border-radius: 120px;
  background-size: 100%;
  display: block;
  margin: 10px auto;
  }

  #nav li {
/*   display: table-cell; */
  height: 20px;
  width: 50%; (100/number of items)%
  line-height: 30px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 15px;
  }

  td {
  font-size: 15px;
  }

  #header-text {
  color: rgb(255,255,255);
  font-family: "Lato";
  font-size: 15px;
  font-weight: 300;
  }

}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  #headshot{
    width: 150px ;
    height: 150px;
    border-radius: 150px;
    background-size: 100%;
    margin-top: 30px;
  }

  td {
  font-size: 20px;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}